{{>navegacion}}
<div>
<div class="row row-cols-1 row-cols-md-4">

  <div class="col" style="margin-bottom: 1rem;">
    <div class="card card-area">
      <div class="tarjeta">
        <div class="linea">
        <h5 class="card-title text-center text-light">Sistemas</h5>
        <span class="numerador">05</span>
        </div>
        
      <img src="/img/iconos-areas/informatica.jpg" class="card-img-top" alt="...">
        <div class="d-grid gap-2">
        <button class="btn btn-primary" type="button">Revisar</button>
    </div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card card-area">
      <div class="tarjeta">
        <div>
        <h5 class="card-title text-center text-light">Contable</h5>
        <span class="numerador">05</span>
        </div>
        
      <img src="/img/iconos-areas/contables.jpg" class="card-img-top" alt="...">
        <div class="d-grid gap-2">
        <button class="btn btn-primary" type="button">Revisar</button>
    </div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card card-area">
      <div class="tarjeta">
        <div>
        <h5 class="card-title text-center text-light">Tramite</h5>
        <span class="numerador">05</span>
        </div>
        
      <img src="/img/iconos-areas/tramites.jpg" class="card-img-top" alt="...">
        <div class="d-grid gap-2">
        <button class="btn btn-primary" type="button">Revisar</button>
    </div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card card-area">
      <div class="tarjeta">
        <div>
        <h5 class="card-title text-center text-light">Archivo</h5>
        <span class="numerador">05</span>
        </div>
        
      <img src="/img/iconos-areas/archivo.jpg" class="card-img-top" alt="...">
        <div class="d-grid gap-2">
        <button class="btn btn-primary" type="button">Revisar</button>
    </div>
      </div>
    </div>
  </div>

  <div class="col" >
    <div class="card card-area">
      <div class="tarjeta">
        <div>
        <h5 class="card-title text-center text-light">Legales</h5>
        <span class="numerador">05</span>
        </div>
        
      <img src="/img/iconos-areas/legales.jpg" class="card-img-top" alt="...">
        <div class="d-grid gap-2">
        <button class="btn btn-primary" type="button">Revisar</button>
    </div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card card-area">
      <div class="tarjeta">
        <div>
        <h5 class="card-title text-center text-light">Atencion al Publico</h5>
        <span class="numerador">05</span>
        </div>
        
      <img src="/img/iconos-areas/atencion.jpg" class="card-img-top" alt="...">
        <div class="d-grid gap-2">
        <button class="btn btn-primary" type="button">Revisar</button>
    </div>
      </div>
    </div>
  </div>

</div>
</div>