<!-- crear menu donde se pueda desloguear y cambiar su datos
en el primer ingreso pedir que el usuario cambie la contraseña (si la pass el = al dni) 
agregar campo dni en tabla usuario
tabla en donde se pueda ordenar por nombre de manera aflab

-->

<!--un metodo para restaurar contraseña (que no sea a traves de correo electronico) 
    Agregar correo a la tabla usuario-->

<!-- desarrollar 
        Vistas
    Administrar usuario
    Peticion y estado de peticion
    vista historial 

        Logica
    Para pedir insumos
    para modificar los datos de usuario
    Reposicion de producto
    investigar sobre logout nodejs
    
        Rutas
    Para cada tipo de usuario

        Base de datos
    Agregar campo rol en usuario
    -->

    <!-- 
        Roles

        God
        El que puede hacer absolutamente todo

        Encargados de reponer
        Contables
        Jefa de personal

        Entregar insumos
        Contables
        Jefa de personal
        Sistemas

        Pueden ver a detalle el stock
        Contables
        Jefa de personal
        Sistemas
        Defensor

        Usuario comun
     -->

     <!-- Cambiar color de BG a todas las vistas -->

     <!--crear una nueva vista para poder ver los distintos movimientos de un articulo en particular (calendario) -->

     <!-- colocar slider con 3 imagenes en login -->

     <!-- en inicio mostrar un menu de tarjetas para remplazar nav 
        una vez se muestre contenedorPedidos pintar nombre de area como referencia
    -->