

    <!-- 
        Roles

        God
        El que puede hacer absolutamente todo

        Encargados de reponer
        Contables
        Jefa de personal

        Entregar insumos
        Contables
        Jefa de personal
        Sistemas

        Pueden ver a detalle el stock
        Contables
        Jefa de personal
        Sistemas
        Defensor

        Usuario comun
     -->

<!-- apartado historial
    *modificar stoc final y arreglar fecha 
    
    
    
    *Apartado pedido
    *ocultar ID

    Apartado Autorizacion
   * Poner nombre de los estados
    *modificar msj cuando supera cantidad requerida
    Cuando la cantidad autorizada sea 0 que aparezca estado denegado

   * Apartado de Entrega 
    *Ver la logica
   * Terminar la logica para enviar los datos


    *Borrar columna categoria

    *Validar roles al entrar.

    *Finalizar Eachs en las vistas

    apartado historial
    crear una nueva vista para poder ver los distintos movimientos de un articulo en particular (calendario)
    
    *crear menu donde se pueda desloguear
    un metodo para restaurar contraseña (que no sea a traves de correo electronico) 
    (discutir) Agregar campo pass para que el admin pueda cambiar la pass del empleado.

    Editar usuario

   * Agregar logOut a pantalla de inicio
    *crear 2 vistas de inicio dependiendo el rol y renderizar dependiendo el rol

    Agregar sector de perdidas en caso de errores.

-->
