<!--
    Validar roles al entrar.

    Finalizar Eachs en las vistas
    si la pass el = al dni. Pedir que el usuario cambie la contraseña. 


    crear una nueva vista para poder ver los distintos movimientos de un articulo en particular (calendario)
    crear menu donde se pueda desloguear y cambiar su datos
    un metodo para restaurar contraseña (que no sea a traves de correo electronico) 
    Agregar correo a la tabla usuario
    (discutir) Agregar campo pass para que el admin pueda cambiar la pass del empleado.
    validar el campo confirmar contraseña de la vista Alta de usuario.
    Editar usuario

    Agregar logOut a pantalla de inicio
    crear 2 vistas de inicion dependiendo el rol y renderizar dependiendo el rol

-->

    <!-- 
        Roles

        God
        El que puede hacer absolutamente todo

        Encargados de reponer
        Contables
        Jefa de personal

        Entregar insumos
        Contables
        Jefa de personal
        Sistemas

        Pueden ver a detalle el stock
        Contables
        Jefa de personal
        Sistemas
        Defensor

        Usuario comun
     -->

<!-- apartado historial
    modificar stoc final y arreglar fecha 
    
    
    
    Apartado pedido
    ocultar ID

    Apartado Autorizacion
    Poner nombre de los estados
    modificar msj cuando supera cantidad requerida
    Cuando la cantidad autorizada sea 0 que aparezca estado denegado

    Apartado de Respuesta 
    Ver la logica


Borrar columna categoria
-->
