{{>navegacion}}

<div class="vh-100 ">

    <div class="container">
        <div class="row">
            <div class="col table-responsive">
                        <!-- Tabla -->
                <table id="myTable" class="table table-secondary table-striped ">

                    <thead>
                        <tr class="table-dark bg-gradient ">

                        <th scope="col">ID</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Categoria</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Sector</th>
                        <th scope="col">Punto de Reposicion</th>
                        </tr>
                    </thead>

                    {{>tabla}}
                </table>

            </div>
        </div>
    </div>
</div>