{{>navegacion}}

<div class=" bg-secondary bg-gradient border-dark mt-4">

    <div class="container-fluid">
        <div class="row">
            <div class="col table-responsive">
                        <!-- Tabla -->
                                <table id="myTable" class="table table-secondary table-striped ">
                    <thead>
                        <tr class="table-dark bg-gradient ">

                        <th scope="col">ID</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Categoria</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Punto de Reposicion</th>
                        </tr>
                    </thead>

                    {{>tabla}}

                    </table>
            </div>
        </div>
    </div>



{{!-- <div class=" bg-secondary bg-gradient">
        <div class="ms-0 pt-4 pb-2 container">
           
            <div class="row">

            <div class="col-2 me-5 text-light">
            mostrar
            <select class="form-select-sm" aria-label=".form-select-lg example">
                <option value="5">5</option>
                <option value="10" selected>10</option>
                <option value="15" >15</option>
            </select>
            entradas
        </div>

        <div class="col-1 ms-auto" >
            <nav class="me-0" aria-label="Page navigation example">
                <ul class="pagination ">
                  <li class="page-item ">
                    <a class="page-link" href="#" tabindex="-1">Anterior</a>
                  </li>
                  <li class="page-item disabled"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#">Siguiente</a>
                  </li>
                </ul>
              </nav>
                </div>
            </div>


        </div>

           
    </div> --}}
   

</div>