
<div class="contenedorIconos">
    <img class="imgInicio img-fluid" src="/img/inicio.jpg" alt="">
</div>
    <div class="iconos">
        <div>

        <a href="http://"><img title="Usuario" class="icono icono1 img-fluid" src="/img/icon/usuario.png" alt=""></a>
        <a href="http://"><img title="Stock" class="icono icono2 img-fluid" src="/img/icon/stock.png" alt="" ></a>
        <a href="http://"><img title="Ingreso" class="icono icono3 img-fluid" src="/img/icon/ingreso.png" alt=""></a>
        </div>

        <div>
        <a href="http://"><img title="Historial" class="icono icono1 img-fluid" src="/img/icon/historial.png" alt="" ></a>
        <a href="http://"><img title="Autorizacion" class="icono icono2 img-fluid" src="/img/icon/autorizacion.png" alt=""></a>
        <a href="http://"><img title="Respuesta" class="icono icono3 img-fluid" src="/img/icon/respuesta.png" alt=""></a>
        </div>
    </div>
<div id="logoDefeBlanco"><img id="logoDefe" src="/img/defensoriablanco.png" alt=""> <img src="/img/barra.png" alt="" style="margin-left 2rem; height: 9rem;"></div>
<div class="nombreUsuario">
    <h5 class="user">Bienvenido {{user.apellido}} {{user.nombre}}</h5>
</div>
{{!-- <div class="vh-100 ">

    <div class="container">
        <div class="row">
            <div class="col table-responsive">
                        <!-- Tabla -->
                <table id="myTable" class="table table-secondary table-striped ">

                    <thead>
                        <tr class="table-dark bg-gradient ">

                        <th scope="col">ID</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Categoria</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Sector</th>
                        <th scope="col">Punto de Reposicion</th>
                        </tr>
                    </thead>

                    {{>tabla}}
                </table>

            </div>
        </div>
    </div>
</div> --}}