{{>navegacion}}

<div>
    <table id="myTable" class="table table-secondary table-striped ">
                    <thead>
                        <tr class="table-dark bg-gradient ">

                        <th scope="col">Fecha</th>
                        <th scope="col">Usuario</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Accion</th>
                        </tr>
                    </thead>

                    {{>tablaPedido}}

                    </table>
</div>