{{>navegacion}}
<div>
    <div class="contenedorRes">
        {{!-- tarjeta --}}
        <div class="fondoTarjRes" id="fondoTar1">
            <div class="tarjetaRes" id="tar1">

            <div class="textCenter">
            <h3 class="textRes">Sistemas</h3>
            </div>

            </div>
        </div>

        <div class="fondoTarjRes" id="fondoTar2">
            <div class="tarjetaRes" id="tar2">

            <div class="textCenter">
            <h3 class="textRes">Contable</h3>
            </div>

            </div>
        </div>

        <div class="fondoTarjRes" id="fondoTar3">
            <div class="tarjetaRes" id="tar3">

            <div class="textCenter">
            <h3 class="textRes">Legales</h3>
            </div>

            </div>
        </div>

        <div class="fondoTarjRes" id="fondoTar4">
            <div class="tarjetaRes" id="tar4">

            <div class="textCenter">
            <h3 class="textRes">Tramites</h3>
            </div>

            </div>
        </div>

        <div class="fondoTarjRes" id="fondoTar5">
            <div class="tarjetaRes" id="tar5">

            <div class="textCenter">
            <h3 class="textRes">Atencion Al Publico</h3>
            </div>

            </div>
        </div>

        <div class="fondoTarjRes" id="fondoTar6">
            <div class="tarjetaRes" id="tar6">

            <div class="textCenter">
            <h3 class="textRes">Recursos Humanos</h3>
            </div>

            </div>
        </div>

        <div class="fondoTarjRes" id="fondoTar7">
            <div class="tarjetaRes" id="tar7">

            <div class="textCenter">
            <h3 class="textRes">Personal y Limpieza</h3>
            </div>

            </div>
        </div>

        <div class="fondoTarjRes" id="fondoTar8">
            <div class="tarjetaRes" id="tar8">

            <div class="textCenter">
            <h3 class="textRes">Logistica</h3>
            </div>

            </div>
        </div>

        <div class="fondoTarjRes" id="fondoTar9">
            <div class="tarjetaRes" id="tar9">

            <div class="textCenter">
            <h3 class="textRes">Niñez</h3>
            </div>

            </div>
        </div>

        <div class="fondoTarjRes" id="fondoTar10">
            <div class="tarjetaRes" id="tar10">

            <div class="textCenter">
            <h3 class="textRes">Relaciones Publicas</h3>
            </div>

            </div>
        </div>

        <div class="fondoTarjRes" id="fondoTar11">
            <div class="tarjetaRes" id="tar11">

            <div class="textCenter">
            <h3 class="textRes">Despacho</h3>
            </div>

            </div>
        </div>

    </div>

    <div>

    </div>
</div>