{{>navegacion}}
<div>
    <div class="contenedorRes">
        {{!-- tarjeta --}}
        <div class="fondoTarjRes" id="fondoTar1">
            <div class="tarjetaRes" id="tar1">

            <div class="textCenter">
            <h3 class="textRes">Sistemas</h3>
            </div>

            </div>
        </div>

        <div class="fondoTarjRes" id="fondoTar2">
            <div class="tarjetaRes" id="tar2">

            <div class="textCenter">
            <h3 class="textRes">Contable</h3>
            </div>

            </div>
        </div>

        <div class="fondoTarjRes" id="fondoTar3">
            <div class="tarjetaRes" id="tar3">

            <div class="textCenter">
            <h3 class="textRes">Legales</h3>
            </div>

            </div>
        </div>

        <div class="fondoTarjRes" id="fondoTar1">
            <div class="tarjetaRes" id="tar1">

            <div class="textCenter">
            <h3 class="textRes">Sistemas</h3>
            </div>

            </div>
        </div>

        <div class="fondoTarjRes" id="fondoTar2">
            <div class="tarjetaRes" id="tar2">

            <div class="textCenter">
            <h3 class="textRes">Contable</h3>
            </div>

            </div>
        </div>

        <div class="fondoTarjRes" id="fondoTar3">
            <div class="tarjetaRes" id="tar3">

            <div class="textCenter">
            <h3 class="textRes">Legales</h3>
            </div>

            </div>
        </div>

        <div class="fondoTarjRes" id="fondoTar1">
            <div class="tarjetaRes" id="tar1">

            <div class="textCenter">
            <h3 class="textRes">Sistemas</h3>
            </div>

            </div>
        </div>

        <div class="fondoTarjRes" id="fondoTar2">
            <div class="tarjetaRes" id="tar2">

            <div class="textCenter">
            <h3 class="textRes">Contable</h3>
            </div>

            </div>
        </div>

        <div class="fondoTarjRes" id="fondoTar3">
            <div class="tarjetaRes" id="tar3">

            <div class="textCenter">
            <h3 class="textRes">Legales</h3>
            </div>

            </div>
        </div>

        <div class="fondoTarjRes" id="fondoTar1">
            <div class="tarjetaRes" id="tar1">

            <div class="textCenter">
            <h3 class="textRes">Sistemas</h3>
            </div>

            </div>
        </div>

        <div class="fondoTarjRes" id="fondoTar2">
            <div class="tarjetaRes" id="tar2">

            <div class="textCenter">
            <h3 class="textRes">Contable</h3>
            </div>

            </div>
        </div>

        <div class="fondoTarjRes" id="fondoTar3">
            <div class="tarjetaRes" id="tar3">

            <div class="textCenter">
            <h3 class="textRes">Legales</h3>
            </div>

            </div>
        </div>


    </div>

    <div>

    </div>
</div>