@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
 
:root{
    --color-primario:linear-gradient(to top , rgb(17, 0, 116),rgb(0, 0, 0));
    --color-secundario: linear-gradient(to top , rgb(187, 3, 3),rgb(145, 1, 1));
    --color-acento: rgba(251, 255, 5, 0.89);

    --e-pading: 12px;
    --e-pading-s: 6px;
    --e-pading-xs: 2px;

    --tb-borde-radius: 3px;

    --backgraund-color-container: #2a3338;
    --border-color: var(--secondary-color);
    --bg-color: var(--highlight-color);
    --text-color:var(--primary-color);
    --bg-active-button:var(--highlight-color);
    --text-color-button:var(--primary-color);
    --text-color-active-button:var(--primary-color);
    --hover-cell-color:var(--highlight-color);
    --even-row-color:var(--secondary-color);
    --focus-color:var(--highlight-color);
    --input-bg-color:var(--secondary-color);
    --input-color:var(--primary-color);
}



[type=search]{
    background-color: white !important;
}
select{
    background-color: white !important;
}

.contenedor{
    max-height: 100%;
}

.navegacion{
    height: auto;
}


.nombreUsuario{
    height: 2rem;
    width: 25rem;
    position: relative;
    text-align: center;
    font-family:'Times New Roman', Times, serif;

    
}

.fondo-login{
    background-image: url("/img/fondo login.jpg");
    background-size: cover;
}

.fondo{
    background: rgb(118,124,124);
    background: linear-gradient(0deg, rgba(118,124,124,1) 6%, rgba(0,0,0,1) 67%);
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vh;
}

.numerador{
    position: absolute; top: 0; right: 0; 
    width: 100px; 
    text-align:right;
    color: white;
    
}

.tarjeta{

    flex: 1 1 auto;
    margin: 5px;

}

.card-area{

    width: 20rem;
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(0,2,47,1) 58%);
}

.btn-cerrar{

    color: white;
    background-color: transparent;
    border: none;
    float: right;
    height: 5rem;
    width: 5rem;
}

div#myTable_length label{
    color: white !important;
  }
div#myTable_info{
    color: white !important;
    font-weight: bold;
  }

div#myTable_filter label{
    color: white !important;
  }