@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
 
:root{
    --color-primario:linear-gradient(to top , rgb(17, 0, 116),rgb(0, 0, 0));
    --color-secundario: linear-gradient(to top , rgb(187, 3, 3),rgb(145, 1, 1));
    --color-acento: rgba(251, 255, 5, 0.89);

    --e-pading: 12px;
    --e-pading-s: 6px;
    --e-pading-xs: 2px;

    --tb-borde-radius: 3px;

    --backgraund-color-container: #2a3338;
    --border-color: var(--secondary-color);
    --bg-color: var(--highlight-color);
    --text-color:var(--primary-color);
    --bg-active-button:var(--highlight-color);
    --text-color-button:var(--primary-color);
    --text-color-active-button:var(--primary-color);
    --hover-cell-color:var(--highlight-color);
    --even-row-color:var(--secondary-color);
    --focus-color:var(--highlight-color);
    --input-bg-color:var(--secondary-color);
    --input-color:var(--primary-color);
}

*{
    font-family: 'Roboto Condensed', sans-serif;
}

.encabezado{
    height: 4rem;
    width: 100%;
    background-image: url('/img/bandera.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.encabezado h1{
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-shadow: -2px 2px 4px black;
    text-align: center;

}
.dropdown{
    display: inline-block;
    position: relative;
}

.btn-dropdown{
    background: none;
    border: none;
}

.dropdown-conent{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.685);
    border-radius: 3px;
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 6;
}

.dropdown:hover .dropdown-conent{
    display: block;
}

.dropdown-conent a {
    display: block;
    color: rgb(253, 253, 253);
    padding: 5px;
    text-decoration: none;
}

[type=search]{
    background-color: white !important;
}
select{
    background-color: white !important;
}

.cambiarLetra{
    font-size: 1.15rem;
    font-weight: 400;
}

.contenedor{
    max-height: 100%;
}

.navegacion{
    height: auto;
}

.logout{
    position: absolute;
    z-index: 2;
    right: 1rem;
    top: 1rem;

}

.imgInicio{
    z-index: 500;
    object-fit: cover;
    width: 100%;
    height: 100vh;
}

.contenedorIconos{
    position: relative;
    z-index: 1;
}

.iconos{
    border-radius: 10px;
    height: 40%;
    width: 35%;
    box-shadow:-2px 2px 4px black ;
    background-color: rgba(241, 245, 236, 0.705);
    left: 30%;
    bottom: 15%;
    position: absolute;
    z-index: 2;
}

.cont-linea{
    margin-left: 1rem;
    margin-bottom: 2rem;
}



.icono{
    filter: drop-shadow( -2px 2px 4px black);
    margin: 1rem 2rem 1rem 1.7rem;
    height: 4.5rem;
    width: 4.5rem;
}



.icono:hover{
    transform: scale(1.1);
}

#logoDefe{
    filter: drop-shadow( -2px 2px 4px black);
    width: 40rem;
    margin-right: 2rem;
}

#logoDefeBlanco{
    z-index: 4;
    position: absolute;
    top:15%;
    right: 43%;

}

.nombreUsuario{
    z-index: 3;
    top: 17%;
    right: 8%;
    position: absolute;
    height: 2rem;
    width: 27rem;
    

    
}

.user{
    text-shadow: -2px 2px 4px black;
    color: white;
    font-size: 4rem;
    font-weight: 700;

}

.fondo-login{
    background-image: url("/img/fondo login.jpg");
    background-size: cover;
}

.fondo{
    background: rgb(118,124,124);
    background: linear-gradient(0deg, rgba(118,124,124,1) 6%, rgba(0,0,0,1) 67%);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    min-width: 100%;
}

.numerador{
    position: absolute; top: 0; right: 0; 
    width: 100px; 
    text-align:right;
    color: white;
    
}


.contenedorRes{
    width: 34rem;
    height: 550px;
    overflow: scroll;
}

.btnRes{
    background: none;
    border: none;
    height: 8.5rem;
    margin: 0;
    padding-top: 0;
}

.contenedorRes::-webkit-scrollbar{
    display: none;
}

.fondoTarjRes{
    margin-top: 1rem;
    margin-left: 1rem;
    width: 32.2rem;
    padding-left: 2rem;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
}

.textRes{
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-shadow: -2px 2px 4px black;
}

.textCenter{
    min-height: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tarjetaRes{
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;

    
    width: 30rem;
    height: 7rem;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;

}


#tar1{
    background-image: url("/img/iconos-areas/informatica.jpg");

}

#fondoTar1{
    background-color: rgb(104, 21, 83);
}


#tar2{
    background-image: url("/img/iconos-areas/contables.jpg");
}

#fondoTar2{
    background-color: rgb(29, 104, 155);
}


#tar3{
    background-image: url("/img/iconos-areas/legales.jpg");
}

#fondoTar3{
    background-color: rgb(167, 164, 45);
}

#tar4{
    background-image: url("/img/iconos-areas/tramites.jpg");
}

#fondoTar4{
    background-color: rgb(167, 128, 45);
}

#tar5{
    background-image: url("/img/iconos-areas/atencion.jpg");
}

#fondoTar5{
    background-color: rgb(240, 197, 132);
}

#tar6{
    background-image: url("/img/iconos-areas/rrhh.jpg");
}

#fondoTar6{
    background-color: rgb(98, 47, 165);
}

#tar7{
    background-image: url("/img/iconos-areas/personal.jpg");
}

#fondoTar7{
    background-color: rgb(179, 62, 62);
}

#tar8{
    background-image: url("/img/iconos-areas/logistica.jpg");
}

#fondoTar8{
    background-color: rgb(156, 156, 156);
}

#tar9{
    background-image: url("/img/iconos-areas/niniez.jpg");
}

#fondoTar9{
    background-color: rgb(5, 14, 139);
}

#tar10{
    background-image: url("/img/iconos-areas/prensa.png");
}

#fondoTar10{
    background-color: rgb(243, 119, 3);
}

#tar11{
    background-image: url("/img/iconos-areas/despacho.jpg");
}

#fondoTar11{
    background-color: rgb(0, 136, 102);
}

.tarjeta{

    flex: 1 1 auto;
    margin: 5px;

}

.contenedorItems{
    display: block;
    margin-left: 7rem;
    width: 45%;
    background-color: rgba(240, 248, 255, 0.301);
}

.card-area{

    width: 20rem;
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(0,2,47,1) 58%);
}

.btn-cerrar{

    color: white;
    background-color: transparent;
    border: none;
    float: right;
    height: 5rem;
    width: 5rem;
}

div#myTable_length label{
    color: white !important;
  }
div#myTable_info{
    color: white !important;
    font-weight: bold;
  }

div#myTable_filter label{
    color: white !important;
  }