<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>


<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #000; !important">

    <a class="navbar-brand" href="/inicio">
        <img style="height: 4rem; margin-top: 0;" src="/img/logo-nav.png">
    </a>

    <div class="container-fluid">

        <ul class="navbar-nav me-auto">
            <li class="nav-item" id="stock">
                <a href="/stock" class="fw-bold nav-link">Stock</a>
            </li>

            <li class="nav-item dropdown" id="carga">
                <a href="" class="fw-bold nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                    aria-haspopup="true" aria-expanded="false">Ingreso</a>
                <div class="dropdown-menu">
                    <a href="/create" class="dropdown-item">Alta de producto</a>
                    <a href="/reposicion" class="dropdown-item">Reposicion</a>
                </div>
            </li>

            <li class="nav-item dropdown" id="historial">
                <a href="" class="fw-bold nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                    aria-haspopup="true" aria-expanded="false">Historial</a>
                <div class="dropdown-menu">
                    <a href="/historial/carga" class="dropdown-item">Historial</a>

                </div>

            </li>

            <li class=" nav-item dropdown" id="pedido">
                <a href="" class="fw-bold nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                    aria-haspopup="true" aria-expanded="false">Pedidos</a>
                <div class="dropdown-menu">
                    <a href="/pedido" class="dropdown-item">Estado de pedido</a>
                    <a href="/pedidoUsuario" class="dropdown-item" id="reaPedido">Realizar pedido</a>
                </div>

            </li>
            <li class="nav-item" id="aut">
                <a href="/pedido/aut" class="fw-bold nav-link ">Autorizacion</a>
            </li>
        </ul>

        <p class="nombreUsuario text-light fst-italic fs-4">Bienvenido {{user.apellido}} {{user.nombre}}</p>

        <a href="/logout"><span class="material-symbols-rounded">logout</span></a>

    </div>


</nav>



{{!-- <script>

    $(document).ready(function () {
        let stock = document.getElementById("stock");
        let carga = document.getElementById("carga");
        let historial = document.getElementById("historial");
        let pedido = document.getElementById("pedido");
        let aut = document.getElementById("aut");
        let res = document.getElementById("res");
        let altaPedido = document.getElementById("reaPedido");
        let usuario = document.getElementById("usuario");


        switch ({{user.rol}}){
        
        case 1:
        stock.remove();
        carga.remove();
        historial.remove();
        pedido.remove();
        aut.remove();
        res.remove();
        break;
        
        case 2:
        usuario.remove();
        break;

        case 3:
        carga.remove();
        aut.remove();
        res.remove();
        usuario.remove();
        break;
        case 4:
        carga.remove();
        aut.remove();
        res.remove();
        historial.remove();
        usuario.remove();
        altaPedido.remove();
        break;
        case 5:
        carga.remove();
        aut.remove();
        res.remove();
        historial.remove();
        usuario.remove();
        break;
    }
} );
</script> --}}