
        <div class="dv-nav">

            <nav class="navbar navbar-expand-lg navbar-dark bg-secondary bg-gradient">
                <div class="container-fluid">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a href="show/articulo" class="nav-link active">Inicio</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a href="" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Carga</a>
                        <div class="dropdown-menu">
                        <a href="/create" class="dropdown-item">Alta de producto</a>
                        <a href="/reposicion/articulo" class="dropdown-item">Reposicion</a>
                    </div>

                        <li class="nav-item">
                            <a href="" class="nav-link">Salida</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a href=""  class="nav-link" href="#">Areas</a>
                        </li>



                             <li class="nav-item dropdown">
                                    <a href="" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Historial</a>
                                <div class="dropdown-menu">
                                <a href="historialcarga.html" class="dropdown-item">Historial de Carga</a>
                                <a href="" class="dropdown-item">Historial de Salida</a>

                                </div>

                             </li>

                             <li class=" nav-item dropdown">
                                <a href="" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Usuario</a>
                            <div class="dropdown-menu">
                            <a href="/user/usuarioAlta" class="dropdown-item">Alta de usuario</a>
                            <a href="/usuario/administracion" class="dropdown-item">Administrar usuario</a>
                        </div>
                        
                            </ul>
                            <a href="/logout">Salir</a>
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            </div> 
                        </nav>    
        </div> 
   
