                <tbody>
                    {{#each pedido}}
                        
                     <tr class="">
                        
                        
                        <td> {{fecha_peticion}} </td>
                        <td> {{nombre}} {{apellido}} </td>
                        <td> {{estado}} </td>
                    
                        <td>
                        

                            <input class="btn btn-sm btn-secondary text-light" type="button" value="Informacion">
                        </td>

                        </tr>
                    {{/each}}
                </tbody>
