
<div class="contenedorIconos">
    <img class="imgInicio" src="/img/inicio.jpg" alt="">
</div>
    <div class="iconos">
        <div class="cont-linea">



        <div class="dropdown" id="carga">
            <button class="btn-dropdown"><img title="Stock" class="icono icono2 img-fluid" src="/img/icon/stock.png" alt="" ></button>
            <div class="dropdown-conent">
                <a href="/stock" class="dropdown-item">Stock</a>
                <a href="/create" class="dropdown-item" id="altaProducto">Alta de producto</a>
                <a href="/reposicion" class="dropdown-item" id="repo">Reposicion</a>
            </div>
        </div>
        
        <div class="dropdown">
            <button class="btn-dropdown"><img title="Usuario" class="icono icono1 img-fluid"  src="/img/icon/ingreso.png" alt=""></button>
            <div class="dropdown-conent">
                <a href="/pedido" class="dropdown-item" >Estado de pedido</a>
                <a href="/pedidoUsuario" class="dropdown-item" id="reaPedido">Realizar pedido</a>
            </div>
        </div>

        </div>
        
        <div class="cont-linea">

        <div class="dropdown" id="historial">
            <button class="btn-dropdown"><img title="Historial" class="icono icono1 img-fluid" src="/img/icon/historial.png" alt="" ></button>
            <div class="dropdown-conent">
                <a href="/historial/carga" class="dropdown-item">Historial de Ingresos</a>
            </div>
        </div>

        <div class="dropdown" id="aut">
            <button class="btn-dropdown"><img title="Autorizacion" class="icono icono2 img-fluid" src="/img/icon/autorizacion.png" alt=""></button>
            <div class="dropdown-conent">
                <a href="/pedido/aut" class="dropdown-item ">Autorizacion</a>
            </div>
        </div>

        </div>
    </div>
<div id="logoDefeBlanco"><img id="logoDefe" src="/img/defensoriablanco.png" alt=""> <img src="/img/barra.png" alt="" style="margin-left 2rem; height: 9rem;"></div>
<div class="nombreUsuario">
    <h5 class="user">Bienvenido {{user.apellido}} {{user.nombre}}</h5>
</div>

 <a href="/logout"><span class="material-symbols-rounded logout">logout</span></a>



