
<div class="contenedorIconos">
    <img class="imgInicio" src="/img/inicio.jpg" alt="">
</div>
    <div class="iconos">
        <div class="cont-linea">

        <div class="dropdown">
            <button class="btn-dropdown"><img title="Usuario" class="icono icono1 img-fluid"  src="/img/icon/ingreso.png" alt=""></button>
            <div class="dropdown-conent">
                <a href="/pedido" class="dropdown-item" >Estado de pedido</a>
                <a href="/pedidoUsuario" class="dropdown-item" id="reaPedido">Realizar pedido</a>
            </div>
        </div>

        
        <div class="dropdown" id="res">
            <button class="btn-dropdown"><img title="Respuesta" class="icono icono3 img-fluid" src="/img/icon/respuesta.png" alt=""></button>
            <div class="dropdown-conent">
                <a href="/pedido/res" class="dropdown-item">Entrega</a>
            </div>
        </div>

        </div>
        
    </div>
<div id="logoDefeBlanco"><img id="logoDefe" src="/img/defensoriablanco.png" alt=""> <img src="/img/barra.png" alt="" style="margin-left 2rem; height: 9rem;"></div>
<div class="nombreUsuario">
    <h5 class="user">Bienvenido {{user.apellido}} {{user.nombre}}</h5>
</div>



