{{>navegacion}}
    <div class="mt-5 mb-4 rounded bg-secondary bg-gradient border-dark m-4" style="--bs-bg-opacity: .7;">
        <div class="container">
                <h3 class="text-center">Alta de Usuario</h3>
            <div class="row  justify-content-center align-items-center">
                <div class="col-sm-4">
                    <form class=" pt-5" action="/user/usuarioAlta" method="post">

                        <div class="col-auto">
            
                                <div class="col-auto">
                                    <label class="form-label text-light" for="">Nombre</label>
                                    <input name="nombre" class="form-control" type="text">
                                </div>

                                <div class="col-auto">
                                    <label class="form-label text-light" for="">Apellido</label>
                                    <input name="apellido" class="form-control" type="text">
                                </div>
            
                            <div class="col-auto">
                                <label class="col-md-5 text-light" for="">Area</label>
                                <select class="form-control col-md-4" name="area" id="">
                                    <option value="null" selected>Seleccionar</option>
                                    <option value="3">legales</option>
                                    <option value="2">Contable</option>
                                    <option value="1">Sistema</option>
                                </select>
                            </div>
<<<<<<< HEAD
                            
=======
>>>>>>> dad0028cc5ecd24e0acd9514ec389f391e013fa0
                            <div class="col-auto">
                                <label class="col-md-5 text-light" for="">Rol</label>
                                <select class="form-control col-md-4" name="rol" id="">
                                    <option value="null" selected>Seleccionar</option>
                                    <option value="1">Admin</option>
                                    <option value="2">Contables</option>
                                    <option value="3">Defensor</option>
                                    <option value="4">Empleado</option>
                                    <option value="5">Responsable</option>
                                </select>
                            </div>            
                            <div class="col-auto">
                                <label class="col-md-5 text-light" for="">Usuario</label>
                                <input name="username"  minlength="7" maxlength="8" class="form-control col-md-4" type="text">
                            </div>
            
                            <div class="col-auto">
                                <!-- Poner campo contraseña en BD -->
                                <label class="col-md-5 text-light" for="">Contraseña</label>
                                <input name="password" class="form-control col-md-4" type="password">
                            </div>
            
                            <div class="col-auto">
                                <label class="text-light" for="">Confirmar contraseña</label>
                                <input class="form-control col-md-4" type="password">
                            </div>
                            <!-- botones -->
                            <div class="pb-5">
                                <button class="btn btn-dark mt-4 me-3">Cancelar</button>
                                <button type="submit" class="btn btn-dark mt-4 ms-auto">Confirmar</button>
            
                            </div>

                        </div>
            
                    </form>
                </div>
            </div>


        </div>

    </div>
