{{>navegacion}}

<div class="m-3">
    <table id="myTable" class="table table-secondary table-striped  ">
                    <thead>
                        <tr class="table-dark bg-gradient ">

                        <th scope="col">ID</th>
                        <th scope="col">DNI</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">Area</th>
                        <th scope="col"></th>
                        

                        </tr>
                    </thead>

                    {{>tablaUsuario}}

                    </table>
</div>