{{>navegacion}}

<div class="m-3">
    <table id="myTable" class="table table-secondary table-striped">
                    <thead>
                        <tr class="table-dark bg-gradient ">

                        <th scope="col">ID</th>
                        <th scope="col">DNI</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">Area</th>
                        <th scope="col"></th>
                        

                        </tr>
                    </thead>

                    {{>tablaUsuario}}

                    </table>
</div>


{{!-- Modal para editar --}}
<div class="modal" tabindex="-1" id="editModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Editar Usuario</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="cerrarEdit()"></button>
      </div>
      <div class="modal-body" id="mensajeEdit">
        <form class=" pt-5" action="/usuario/edit" method="post">

                        <div class="col-auto">
                            <div class="col-auto">
                                <label class="col-md-5" for="idusuario">Usuario</label>
                                <input name="idusuario" id="idusuario"  minlength="7" maxlength="8" class="form-control col-md-4" type="text" value="" >
                            </div>
            
                                <div class="col-auto">
                                    <label class="form-label " for="nombre">Nombre</label>
                                    <input name="nombre" id="nombre" class="form-control" type="text" value="">
                                </div>

                                <div class="col-auto">
                                    <label class="form-label " for="">Apellido</label>
                                    <input name="apellido" id="apellido" class="form-control" type="text" value="">
                                </div>
            
                            <div class="col-auto">
                                <label class="col-md-5 " for="">Area</label>
                                <select class="form-control col-md-4" name="area" id="area">
                                    <option value="" selected>Seleccionar</option>
                                    <option value="3">legales</option>
                                    <option value="2">Contable</option>
                                    <option value="1">Sistema</option>
                                </select>
                            </div>
                            
                            <div class="col-auto">
                                <label class="col-md-5 " for="">Rol</label>
                                <select class="form-control col-md-4" name="rol" id="rol">
                                    <option value="" selected>Seleccionar</option>
                                    <option value="2">Contables</option>
                                    <option value="3">Defensor</option>
                                    <option value="4">Empleado</option>
                                    <option value="5">Responsable</option>
                                </select>
                            </div>                        
                            <!-- botones -->
                            <div class="pb-5">

                                <button type="submit" class="btn btn-primary mt-4 ms-auto">Confirmar</button>
            
                            </div>

                        </div>
            
                    </form>
      </div>
      <div class="modal-footer">

    <button type="button" class="btn btn-secondary popover-test" data-bs-dismiss="modal" aria-label="Cerrar" onclick="cerrarEdit()">Cerrar</button>
      </div>
    </div>
  </div>
</div>

{{!-- Modale Para Eliminar --}}
<div class="modal" tabindex="-1" id="deleteModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Borrar usuario</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar" onclick="cerrarDelete()"></button>
      </div>
      <div class="modal-body form-control" id="mensajeDelete">

      </div>

      <div class="modal-footer">
        <form action="/usuario/delete" method="POST">
        <input type="number" name="id_usuario" id="inputKey" value="" hidden>
    <button type="submit" class="btn btn-danger" data-bs-dismiss="modal" aria-label="Cerrar">Eliminar</button>
        </form>
    <button type="button" class="btn btn-secondary popover-test" data-bs-dismiss="modal" aria-label="Cerrar" onclick="cerrarDelete()">Cerrar</button>
    
      </div>
    </div>
  </div>
</div>

<script>
    const usuarios = {{{ json usuario }}};


    const modalEliminar =(key)=>{
     
      mensajeDelete.innerHTML +=
                    `  
            <p id="parrafo">¿Esta seguro que desea eliminar al usuario ${usuarios[key].nombre} ${usuarios[key].apellido}?</p>
            `
          let id = document.getElementById("inputKey");
          id.value = usuarios[key].id_usuario;

        $("#deleteModal").show();
    }
    
    
    const cerrarDelete =()=>{

     let node = document.getElementById("parrafo");
                node.parentNode.removeChild(node);

        $("#deleteModal").hide();
    }



   const modalEdit =(key)=>{
     


          const formulario = document.getElementById("formulario");
          
          const id = document.getElementById("idusuario");
          id.value = usuarios[key].id_usuario;
         

          const nombre= document.getElementById("nombre");
          nombre.value = usuarios[key].nombreUsuario;
          const apellido= document.getElementById("apellido");
          apellido.value = usuarios[key].apellido;
          const area= document.getElementById("area");
          area.value = usuarios[key].area;
          const rol= document.getElementById("rol");
          rol.value = usuarios[key].rol;




        $("#editModal").show();
    }
    const cerrarEdit =()=>{



        $("#editModal").hide();
    }

</script>